<h2> <%= @title %> </h2>

<p> <%= @story %> <p>

<a href=<%= "/direction/#{@option_a}" %>> <%= @option_a %> </a> 

<a href=<%= "/direction/#{@option_b}" %>> <%= @option_b %> </a> 

<a href=<%= "/direction/#{@option_c}" %>> <%= @option_c %> </a> 

<h2> <%= @choice %> </h2>


<a href=<%= "/direction/#{@decision}" %>> <%= @decision %> </a> 
